
.main-body-f{
    width: 100%;
    height: 965px;
    /* background-color: yellowgreen; */
    border-top: 1px solid rgb(222, 222, 222);
    padding: 0 20px;
    padding-top: 32px;
    margin-top: 49px;
    .part1-f{
        height: 40;
        /* background-color: aquamarine; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        & img{
            width: 195px;
            height: 30px;
        }
        .btn-up{
            width: 138px;
            height: 40px;
            padding: 8px 16px;
            /* background-color: lightpink; */
            border-radius: 8px;
            border: 1px solid rgb(222, 222, 222);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            & span{
                width: 72px;
                height: 26px;
                /* background-color: hotpink; */
                margin-left: 8px;
                font-size: 12px;
                line-height: 26px;
                color: #a1a3a8;
            }
            & svg{
                width: 24px;
                height: 24px;
            }
        }
    }
    .part2-f{
        height: 26px;
        margin-top: 16px;
        /* background-color: crimson; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        .line-between-f{
            width: 43px;
            height: 100%;
            font-size: 12px;
            padding: 0 20px;
            color: #a1a3a8;
        }
        .text1-2-f{
            width: 152px;
            height: 100%;
            color: #3f4064;
            font-size: 12px;
            /* background-color: yellowgreen; */
        }
        .text2-2-f{
            width: 62px;
            height: 100%;
            color: #3f4064;
            font-size: 12px;
            /* background-color: yellowgreen; */
        }
        .text3-2-f{
            width: fit-content;
            height: 100%;
            color: #3f4064;
            font-size: 12px;
            /* background-color: yellowgreen; */
        }

    }
    .part3-f{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        margin-top: 32px;
        .boxp3-f{
            width: 292px;
            height: 104px;
            padding: 12px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            .image-p3-f{
                display: flex;
                justify-content: center;
                align-items: center;
                & img{
                    width: 56px;
                    height: 56px;
                }
            }
            & p{
                height: 24px;
                line-height: 24px;
                text-align: center;
                font-size: 11px;
                color: #3f4064;
            }
        }
    }
    .part4-f{
        height: 270px;
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        .section1-p4-f{
            width: 374px;
            height: 100%;
            .title-s1{
                width: 100%;
                height: 33px;
                font-size: 16px;
                margin-bottom: 8px;
                color: #3f4064;
                line-height: 33px;
            }
            & a{
                text-decoration: none;
                & p{
                    width: 100%;
                    height: 30px;
                    font-size: 14px;
                    color: #81858b;
                    margin-bottom: 8px;
                    
                }
            }
        }
        .section2-p4-f{
            width: 390px;
            height: 100%;
            .title-s2{
                width: 100%;
                height: 33px;
                font-size: 16px;
                margin-bottom: 8px;
                color: #3f4064;
                line-height: 33px;
            }
            & a{
                text-decoration: none;
                & p{
                    width: 100%;
                    height: 30px;
                    font-size: 14px;
                    color: #81858b;
                    margin-bottom: 8px;
                    
                }
            }
        }
        .section3-p4-f{
            width: 393px;
            height: 100%;
            .title-s3{
                width: 100%;
                height: 33px;
                font-size: 16px;
                margin-bottom: 8px;
                color: #3f4064;
                line-height: 33px;
            }
            & a{
                text-decoration: none;
                & p{
                    width: 100%;
                    height: 30px;
                    font-size: 14px;
                    color: #81858b;
                    margin-bottom: 8px;
                    
                }
            }
        }
        .section4-p4-f{
            width: 325px;
            height: 100%;
            .title1-s4{
                width: 100%;
                height: 33px;
                font-size: 16px;
                margin-bottom: 12px;
                color: #3f4064;
                line-height: 33px;
            }
            .icon-f{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                & svg{
                    width: 40px;
                    height: 40px;
                    margin-left: 32px;
                    
                }
            }
            .title2-s4{
                width: 100%;
                height: 33px;
                font-size: 16px;
                margin-top: 32px;
                margin-bottom: 12px;
                color: #3f4064;
                line-height: 33px;
            }
            .lastpart-s4{
                width: 100%;
                height: 48px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .inputemail-f{
                    
                    width: 261px;
                    height: 48px;
                    padding: 0 8px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: #f0f0f1;
                    border-radius: 8px;
                    & input{
                        
                        width: 245px;
                        height: 32px;
                        padding: 0 8px;
                        outline: none;
                        font-size: 16px;
                        border: none;
                        background-color: transparent;
                    }
                    
                }
                & button{
                    width: 54px;
                    height: 48px;
                    border-radius: 8px;
                    background-color: #e0e0e2;
                    color: #f0f0f1;
                    font-size: 16px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    margin-right: 10px;
                }
                

            }
        }
    }
    .part5-f{
        width: 100%;
        height: 76px;
        margin-top: 30px;
        margin-bottom: 28px;
        border-radius: 16px;
        padding: 8px 20px;
        background-color: #3c4b6d;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .right-5f{
            width: 288px;
            height: 44px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & img{
                width: 44px;
                height: 100%;
            }
            & h3{
                width: 228px;
                height: 100%;
                font-size: 21px;
                margin-right: 16px;
                line-height: 44px;
                color: #fff;
            }
            
        }
        .left-5f{
            width: 526px;
            height: 44px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .left1-5f{
                width: 458px;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 16px;
                & img{
                    width: 142px;
                    height: 100%;
                    border-radius: 4px;
                }
            }
            .left2-5f{
                width: 68px;
                height: 100%;
                & img{
                    width: 42px;
                    height: 44px;
                    margin-right: 24px;
                    border-radius: 4px;
                }
            }
        }
    }
    .part6-f{
        width: 100%;
        height: 224px;
        padding: 32px 0;
        border-top: 1px solid rgb(206, 204, 204);
        border-bottom: 1px solid rgb(206, 204, 204);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .right-6f{
            width: 1114px;
            height: 159px;
            .top-r6f{
                width: 1074px;
                height: 125px;
                line-height: 2;
                & h2{
                    font-size: 25px;
                    color: #62666d;
                }
                & p{
                    font-size: 14px;
                    color: rgb(157, 155, 155);
                }
            }
            .bottom-r6f{
                width: 1074px;
                height: 33px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                & p{
                    margin-bottom: 5px;
                    color: #19bfd3;
                    font-size: 12px;
                    font-weight: bold;
                }
                & svg{

                    width: 24px;
                    height: 24px;
                }
            }
        }
        .left-6f{
            width: 374px;
            height: 109px;
            margin-bottom: 50px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .box-l6f{
                width: 109px;
                height: 109px;
                margin: 0 8px 0 0;
                padding: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                border: 1px solid rgb(222, 222, 222);
                & img{
                    width: 75px;
                    height: 75px;
                }
            }

        }
    }
    .part7-f{
        width: 100%;
        height: 89px;
        padding: 32px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .text-7f{
            font-size: 11px;
            color: #81858b;
            text-align: center;
            line-height: 89px;
        }
        
    }
}

.bottom-f{
    width: 100%;
    height: 160px;
    margin-top: 33px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    .row1-bf{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .box-r1{
            width: 191px;
            height: 80px;
            padding: 0 20px;
            border: 1px solid rgb(222, 222, 222);
            border-top: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            & img{
                width: fit-content;
                height: 20px;

            }
        }
    }
    .row2-bf{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .box-r2{
            width: 255px;
            height: 80px;
            padding: 0 20px;
            border: 1px solid rgb(222, 222, 222);;
            border-bottom: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            & img{
                width: fit-content;
                height: 20px;

            }
        }
    }
}

.popup-checkbox{
    display: none;
}

.popup-checkbox:checked + .green-box + .popup1 {
    display: block;
}
.green-box{
    width: 272px;
    height: 52px;
    background-color: #029a49;
    border-radius: 28px;
    cursor: pointer;
    position: fixed;
    left: 16px;
    bottom: 32px;
    z-index: 99999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 8px;
    padding-left: 8px;
    & svg{
        width: 28px;
        height: 28px;
        fill: #e0e0e2;
        font-size: smaller;
        margin-left: 5px;
    }
    .text1-gb{
        width: 142px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 32px;
        text-align: center;
        font-size: 15px;
        color: #e0e0e2;
        font-weight: 700px;
        & span{
            margin-left: 4px;
            margin-right: 1px;
        }
    }
    .text2-gb{
        width: 60px;
        height: 32px;
        font-size: 15px;
        color: #e0e0e2;
        align-items: center;
        line-height: 32px;
        font-weight: 700px;
    }

}

.popup1{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    height: 354px;
    background-color: white;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 8px;
    z-index: 1000;
    .top-popup1{
        width: 460px;
        height: 84px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .right-popup1{
            width: 335px;
            height: 84px;
            padding: 12px 0;
            & h5{
                width: 335px;
                height: 34px;
                font-size: 16px;
                color: #3f4064;
            }
            & p{
                width: 335px;
                height: 26px;
                font-size: 12px;
                color: #a1a3a8;
            }
        }
        .left-popup1{
            width: 24px;
            height: inherit;
            .close-btn1{
                line-height: 84px;
                cursor: pointer;
                & svg{
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    .bottom-popup1{
        width: 460px;
        height: 270px;
        padding: 0 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .box1-popup1{
            width: 204px;
            height: 250px;
            padding: 12px 0;
            background-color: #dbf3e6;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .part1-b1-p1{
                width: 100%;
                height: 34px;
                padding: 0 16px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                & h5{
                    width: fit-content;
                    height: 34px;
                    font-size: 16px;
                    line-height: 34px;
                }
                & svg{
                    width: 20px;
                    height: 20px;
                    margin-right: 2px;
                }
            }
            .part2-b1-p1{
                width: 204px;
                height: 26px;
                padding: 0 16px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 6px;
                .greenpart{
                    width: 109px;
                    height: 26px;
                    padding: 0 12px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: #029a49;
                    border-top-left-radius: 24px;
                    border-top-right-radius: 4px;
                    border-bottom-left-radius: 24px;
                    border-bottom-right-radius: 24px;
                    & svg{
                        width: 16px;
                        height: 16px;
                    }
                    & p{
                        width: fit-content;
                        height: 26px;
                        line-height: 26px;
                        font-size: 12px;
                        margin-right: 6px;
                        color: white;
                    }
                }
                
            }
            .part3-b1-p1{
                width: 204px;
                height: 160px;
                & img{
                    width: 130px;
                    height: 130px;
                    margin-top: 30px;
                    margin-right: 74px;
                }
            }
        }
        .box2-popup1{
            width: 204px;
            height: 250px;
            padding: 12px 0;
            background-color: #FEEBDE;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .part1-b1-p1{
                width: 100%;
                height: 34px;
                padding: 0 16px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                & h5{
                    width: fit-content;
                    height: 34px;
                    font-size: 16px;
                    line-height: 34px;
                }
                & svg{
                    width: 20px;
                    height: 20px;
                    margin-right: 2px;
                }
            }
            .part2-b1-p1{
                width: 204px;
                height: 26px;
                padding: 0 16px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 6px;
                .orangebox{
                    width: 109px;
                    height: 26px;
                    padding: 0 12px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: #FF8042;
                    border-top-left-radius: 24px;
                    border-top-right-radius: 4px;
                    border-bottom-left-radius: 24px;
                    border-bottom-right-radius: 24px;
                    & svg{
                        width: 16px;
                        height: 16px;
                    }
                    & p{
                        width: fit-content;
                        height: 26px;
                        line-height: 26px;
                        font-size: 12px;
                        margin-right: 6px;
                        color: white;
                    }
                }
            }
            .part3-b1-p1{
                width: 204px;
                height: 160px;
                & img{
                    width: 130px;
                    height: 130px;
                    margin-top: 30px;
                    margin-right: 74px;
                }
            }
        }
    }
}


.red-box{
    width: 48px;
    height: 48px;
    background-color: crimson;
    padding: 12px;
    border-radius: 50px;
    position: fixed;
    right: 40px;
    bottom: 32px;
    z-index: 9999999999999 ;
    cursor: pointer;
    & svg{
        width: 24px;
        height: 24px;
    }
    & p{
        display: none;
        font-size: 50px;
        color: white;
        position: fixed;
        right: 50px;
        bottom: 18px;
    }
}

.popup2 {
    display: none;
    position: fixed;
    right: 40px;
    bottom: 80px;
    width: 358px;
    height: 513px;
    border-radius: 16px;
    border: 2px solid crimson;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100000000;
    .top-rb{
        width: 100%;
        height: 60px;
        padding: 8px 20px;
        background-color: crimson;
        border-top-right-radius: 14px;
        border-top-left-radius: 14px;
        .head-rb{
            width: 318px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & h2{
                width: 129px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                font-size: 19px;
                color: white;
            }
            & svg{
                width: 24px;
                height: 24px;
            }
        }
        
    }
    .bottom-rb{
        width: 100%;
        height: 450px;
        overflow-y: scroll !important;
        background-color: white;
        border-bottom-right-radius: 14px;
        border-bottom-left-radius: 14px;
        padding: 12px 8px 20px;
        .p1-brb{
            width: 320px;
            height: 40px;
            margin-bottom: 4px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & p {
                font-size: 19px;
                margin-left: 2px;
            }
            & span{
                font-size: 19px;
            }
        }
        .p2-brb{
            width: 320px;
            height: 60px;
            font-weight: 700;
            line-height: 2.15;
            font-size: 14px !important;
        }
        .p3-brb{
            width: 320px;
            height: 70px;
            border-radius: 8px;
            border: 1px solid rgb(222, 222, 222);
            padding: 12px;
            margin-top: 16px;
            .text-p3-rb{
                height: 44px;
                padding-bottom: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                & p{
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 2.15;
                }
                & svg{
                    width: 24px;
                    height: 24px;
                }
            }
        } 
        .p4-brb{
            width: 320px;
            height: 102px;
            padding: 12px;
            border-radius: 8px;
            border: 1px solid rgb(222, 222, 222);
            margin-top: 10px;
            .text-p4-rb{
                width: 300px;
                height: 76px;
                padding-bottom: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                & p{
                    width: 250px;
                    height: 76px;
                    padding-top: 10px;
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 2.15;
                }
                & span{
                    width: 30px;
                    height: 76px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & svg{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
        .p5-brb{
            width: 320px;
            height: 134px;
            padding: 12px;
            border-radius: 8px;
            border: 1px solid rgb(222, 222, 222);
            margin-top: 10px;
            margin-bottom: 20px;
            .text-p5-rb{
                width: 300px;
                height: 109px;
                padding-bottom: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                & p{
                    width: 260px;
                    height: 76px;
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 2.15;
                }
                & span{
                    width: 30px;
                    height: 76px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & svg{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
        .p6-brb{
            width: 320px;
            height: 48px;
            .partred{
                width: 128px;
                height: 48px;
                margin: 0 99px;
                padding: 12px 16px;
                background-color: crimson;
                border-radius: 2.5rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                & p{
                    line-height: 30px;
                    font-size: 14px;
                    margin-left: 8px;
                    color: white;
                }
                & svg{
                    width: 26px;
                    height: 26px;
                }
            }               
        }
    }
}

.popup-checkbox2 {
    display: none;
}

.popup-checkbox2:checked + .red-box + .popup2 {
    display: block;
}

.popup-checkbox2:checked + .red-box p{
    display: block;
}

.popup-checkbox2:checked + .red-box svg{
    display: none;
}




