
.main-body-f{
    width: 100%;
    height: 965px;
    /* background-color: yellowgreen; */
    border-top: 1px solid rgb(222, 222, 222);
    padding: 0 20px;
    padding-top: 32px;
    margin-top: 49px;
    .part1-f{
        height: 40;
        /* background-color: aquamarine; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        & img{
            width: 195px;
            height: 30px;
        }
        .btn-up{
            width: 138px;
            height: 40px;
            padding: 8px 16px;
            /* background-color: lightpink; */
            border-radius: 8px;
            border: 1px solid rgb(222, 222, 222);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            & span{
                width: 72px;
                height: 26px;
                /* background-color: hotpink; */
                margin-left: 8px;
                font-size: 12px;
                line-height: 26px;
                color: #a1a3a8;
            }
            & svg{
                width: 24px;
                height: 24px;
            }
        }
    }
    .part2-f{
        height: 26px;
        margin-top: 16px;
        /* background-color: crimson; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        .line-between-f{
            width: 43px;
            height: 100%;
            font-size: 12px;
            padding: 0 20px;
            color: #a1a3a8;
        }
        .text1-2-f{
            width: 152px;
            height: 100%;
            color: #3f4064;
            font-size: 12px;
            /* background-color: yellowgreen; */
        }
        .text2-2-f{
            width: 62px;
            height: 100%;
            color: #3f4064;
            font-size: 12px;
            /* background-color: yellowgreen; */
        }
        .text3-2-f{
            width: fit-content;
            height: 100%;
            color: #3f4064;
            font-size: 12px;
            /* background-color: yellowgreen; */
        }

    }
    .part3-f{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        margin-top: 32px;
        .box-f{
            width: 292px;
            height: 104px;
            padding: 12px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            .image-p3-f{
                display: flex;
                justify-content: center;
                align-items: center;
                & img{
                    width: 56px;
                    height: 56px;
                }
            }
            & p{
                height: 24px;
                line-height: 24px;
                text-align: center;
                font-size: 11px;
                color: #3f4064;
            }
        }
    }
}
