
.part1-s{
    height: 64px;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.part2-s{
    width: 100%;
    .slider2{
        .swiper {
            width: 100%;
            height: 400px;
            .swiper-wrapper{
                .swiper-slide {
                    text-align: center;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        background-color: crimson;
                      }
                  }
            }
          }
    
    }
}

.part3-s{
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    .bodypart3s{
        width: 1464px;
        height: 344px;
        margin-top: 14px;
        background-color: crimson;
        border-radius: 8px;
        .top-p3s{
            width: 1464px;
            height: 66px;
            padding: 16px 0;
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;
            & svg{
                width: 24px;
                height: 24px;
                margin-right: 20px;
            }
            & p{
                color: white;
                font-size: 16px;
                font-weight: 700;
                line-height: 2.1;
            }
        }
        .bottom-p3{
            background-color: lightyellow;
            width: 1464px;
            height: 258px;
            margin-top: 2px;
            .sliderp3f{
                width: 100%;
                height: 100%;
                background-color: crimson;
                padding-left: 20px;
                padding-right: 20px;
                .swiper {
                    width: 100%;
                    height: 100%;
                    .swiper-wrapper{
                        .swiper-slide {
                            width: 614px !important;
                            height: 258px;
                            padding: 8px 16px;
                            border-radius: 8px;
                            background-color: white;
                            .sliderp3f-items{
                                width: 100%;
                                height: 100%;
                                .top-sp3f{
                                    width: 100%;
                                    height: 26px;
                                    margin-bottom: 4px;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    & img{
                                        width: 116px;
                                        height: 14px;
                                    }
                                }
                                .bottom-sp3f{
                                    width: 100%;
                                    height: 212px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    .right-sp3f{
                                        width: 200px;
                                        height: 100%;
                                    }
                                    .left-sp3f{
                                        width: 370px;
                                        height: inherit;
                                        .part1-lsp3f{
                                            width: 100%;
                                            height: 28px;
                                            margin-bottom: 4px;
                                        }
                                        .part2-lsp3f{
                                            width: 100%;
                                            height: 52px;
                                            font-size: 12px;
                                            font-weight: 700;
                                            color: #3f4064;
                                        }
                                        .part3-lsp3f{
                                            width: 100%;
                                            height: 26px;
                                            margin-bottom: 4px;
                                            display: flex;
                                            justify-content: flex-end; 
                                            align-items: center;
                                            gap: 5px;
                                            & p{
                                                font-size: 15px;
                                                font-weight: 500;
                                                color: #3f4064;
                                            }
                                        }
                                        .part4-lsp3f{
                                            width: 100%;
                                            height: 34px;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            .p4lsp3f-1{
                                                width: 34px;
                                                height: 20px;
                                                padding: 0 4px;
                                                border-radius: 16px;
                                                margin-left: 20px;
                                                font-size: 12px;
                                                color: white;
                                                text-align: center;
                                                line-height: 20px;  
                                                font-weight: 600;
                                                line-height: 20px;
                                                background-color: crimson;
                                            }
                                            .p4lsp3f-2{
                                                display: flex;
                                                justify-content: flex-start;
                                                align-items: center;
                                                gap: 5px;
                                            }
                                        }
                                        .part5-lsp3f{
                                            width: 100%;
                                            height: 26px;
                                            padding-left: 20px;
                                            font-size: 12px;
                                            text-decoration: line-through;
                                            color: #c0c2c5;
                                            margin-right: 311.26px;
                                        }
                                        .part6-lsp3f{
                                            width: 100%;
                                            height: 4px;
                                            border-radius: 8px;
                                            background-color: #f0f0f1;
                                            display: flex;
                                            justify-content: flex-end;
                                            align-items: center;
                                            .line2{
                                                width: 185px;
                                                height: inherit;
                                                border-radius: 8px;
                                                background-color: crimson;
                                            }
                                        }
                                        .part7-lsp3f{
                                            width: 100%;
                                            height: 30px;
                                            margin-top: 4px;
                                            display: flex;
                                            justify-content: flex-end;
                                            align-items: center;
                                            & p{
                                                font-size: 12px;
                                                color: crimson;
                                                line-height: 30px;
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                }
                            }
                          }
                    }
                  }
            }
        }
    }
}

.part4-s{
    width: 100%;
    height: 206px;
    padding: 20px 0;
    .sliderp4s{
        .swiper{
            width: 100%;
            height: 166px;
            .swiper-wrapper{
                .swiper-slide1p4s {
                    width: 144px;
                    height: 166px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .items-sp4s{
                        width: 122px;
                        height: 100%;
                        padding: 8px 0;
                        margin: 0 8px 0 0;
                        background-color: #f0f0f1;
                        border-radius: 8px;
                        .image-sp4s{
                            width: 100%;
                            height: 100px;
                            & img{
                                width: 90px;
                                height: 90px;
                            }
                        }
                        .text-sp4s{
                            width: fit-content;
                            height: 26px;
                            padding: 0 4px;
                            margin: 0 auto;
                            & p{
                                font-size: 12px;
                                
                            }
                        } 
                    }
                    
                  }  
                .swiper-slide {
                    width: 144px;
                    height: 166px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .items-sp4s{
                        width: 122px;
                        height: 100%;
                        padding: 8px 0;
                        margin: 0 8px 0 0;
                        .image-sp4s{
                            width: 100%;
                            height: 100px;
                            & img{
                                width: 90px;
                                height: 90px;
                            }
                        }
                        .text-sp4s{
                            width: fit-content;
                            height: 26px;
                            padding: 0 4px;
                            margin: 0 auto;
                            & p{
                                font-size: 12px;
                                
                            }
                        } 
                    }
                    
                  } 
            }
        }  
    }
}

.part5-s{
    width: 100%;
    height: 442px;
    padding: 28px 0;
    background-color: crimson;
    .sliderp5s{
        .swiper{
            width: 100%;
            height: 386px;
            background-color: crimson;
            .swiper-wrapper{
                .swiper-slide{
                    width: 192px !important;
                    height: 100%;
                    margin-left: 30px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .itmes-1p5s{
                        width: 145px;
                        height: 100%;
                        margin: 0 32px;
                        display: flex;
                        justify-content: center;
                        flex-flow: column;
                        align-items: center;
                        .img1p5s{
                            width: 120px;
                            height: 120px;
                            margin: 0 auto;
                            & img{
                                width: 120px;
                                height: 120px;
                            }
                        }
                        .img2p5s{
                            width: 145px;
                            height: 145px;
                            margin-top: 10px;
                            & img{
                                width: 145px;
                                height: 145px;
                            }
                        }

                    }
                    .slideritems-p5s{
                        width: 100%;
                        height: 100%;
                        padding: 12px 8px;
                        border-radius: 8px;
                        background-color: white;
                        .part1p5s{
                            width: 100%;
                            height: 26px;
                            margin-bottom: 4px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            & img{
                                width: 116px;
                                height: 14px;
                            }
                        }
                        .part2p5s{
                            width: 100%;
                            height: 150px;
                            margin-bottom: 4px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            & img{
                                width: 150px;
                                height: 100%;
                            }
                        }
                        .part3p5s{
                            width: 100%;
                            height: 52px;
                            text-align: right;
                            display: flex;
                            align-items: center;
                            & p{
                                font-size: 12px;
                                font-weight: 700;
                                line-height: 2.17;
                                color: #3f4064;
                            }
                        }
                        .part4p5s{
                            width: 100%;
                            height: 24px;
                            margin-bottom: 4px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            & svg{
                                width: 18px;
                                height: 18px;
                                margin-left: 5px;
                            }
                            & p{
                                width: fit-content;
                                height: 24px;
                                color: #62666D;
                                font-size: 11px;
                                font-weight: 400px;
                                line-height: 24px;
                            }
                        }
                        .part5p5s{
                            width: 100%;
                            height: 34px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .right-p5p5s{
                                width: 34px;
                                height: 20px;
                                background-color: crimson;
                                padding: 0 4px;
                                border-radius: 16px;
                                color: white;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 20px;
                            }
                            .left-p5p5s{
                                width: 142px;
                                height: 100%;
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                gap: 5px;
                                & p{
                                    font-size: 16px;
                                    font-weight: 600;
                                    line-height: 2.1;
                                    color: #3f4064;
                                }
                            }
                        }
                        .part6p5s{
                            width: 176px;
                            height: 26px;
                            padding-left: 20px;
                            & p{
                                width: 38px;
                                height: 26px;
                                margin: 0 118px 0 0;
                                font-size: 12px;
                                line-height: 26px;
                                text-decoration: line-through;
                                color: #c0c2c5;
                            }
                        }
                        .part7p5s{
                            width: 100%;
                            height: 30px;
                            margin-top: 4px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            & p{
                                font-size: 12px;
                                font-weight: 700;
                                line-height: 30px;
                                color: crimson;
                            }
                        }
                    }
                }
            }
        }

    }
}

.part6-s{
    width: 100%;
    height: 488px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    .bodypart6s{
        width: 1464px;
        height: 488px;
        padding-top: 14px;
        background-color: white;
        border: 1px solid rgb(222, 222, 222);
        border-radius: 8px;
        .top6s{
            width: 100%;
            height: 68px;
            padding: 12px 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            & svg{
                width: 24px;
                height: 24px;
            }
            & p{
                width: fit-content;
                height: 22px;
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
                margin-right: 6px;
            }
            .linep6s{
                position: absolute;
                bottom: 10px;
                left: 1370px;
                width: 70px;
                height: 2px;
                background-color: crimson;
            }
        }
        .bottom6s{
            width: 100%;
            height: fit-content;
            border-radius: 8px;
            .sliderp6s{
                width: 100%;
                height: fit-content !important;
                .swiper-wrapper{
                    .swiper-slide{
                        width: 192px;
                        height: 380 !important;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 12px 8px;
                        border: 1px solid rgb(222, 222, 222);
                        .slideritems-p6s{
                            width: 192px ;
                            height: 380px;
                            .part1p6s{
                                width: 100%;
                                height: 26px;
                                margin-bottom: 4px;
                                display: flex;
                                justify-items: flex-start;
                                align-items: center;
                                & img{
                                    width: 116px;
                                    height: 14px;

                                }
                            }
                            .part2p6s{
                                width: 100%;
                                height: 150px;
                                margin-bottom: 6px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                & img{
                                    width: 150px;
                                    height: 100%;
                                }
                            }
                            .part3p6s{
                                width: 100%;
                                height: 52px;
                                text-align: right;
                                display: flex;
                                align-items: center;
                                & p{
                                    width: 175px;
                                    font-size: 12px !important;
                                    font-weight: 700;
                                    line-height: 2.17;
                                    color: #3f4064;
                                }
                            }
                            .part4p6s{
                                width: 100%;
                                height: 24px;
                                margin-bottom: 4px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                & svg{
                                    width: 18px;
                                    height: 18px;
                                    margin-left: 5px;
                                }
                                & p{
                                    width: fit-content;
                                    height: 100%;
                                    color: #62666D;
                                    font-weight: 400;
                                    line-height: 24px;
                                    font-size: 11px;
                                }
                            }
                            .part5p6s{
                                width: 100%;
                                height: 34px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .right-p5p6s{
                                    width: 34px;
                                    height: 20px;
                                    background-color: crimson;
                                    padding: 0 4px;
                                    border-radius: 16px;
                                    color: white;
                                    font-weight: 600;
                                    font-size: 12px;
                                    line-height: 20px;
                                }
                                .left-p5p6s{
                                    width: 142px;
                                    height: 100%;
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;
                                    gap: 5px;
                                    & p{
                                        font-size: 16px;
                                        font-weight: 600;
                                        line-height: 2.1;
                                        color: #3f4064;
                                    }
                                }
                            }
                            .part6p6s{
                                width: 175px;
                                height: 26px;
                                padding-left: 20px;
                                & p{
                                    width: 65px;
                                    height: 26px;
                                    margin: 0 118px 0 0;
                                    font-size: 12px;
                                    line-height: 26px;
                                    text-decoration: line-through;
                                    color: #c0c2c5;
                                }
                            }
                            .part7p6s{
                                width: 100%;
                                height: 4px;
                                margin-top: 6px;
                                margin-bottom: 6px;
                                border-radius: 8px;
                                background-color: rgb(222, 222, 222);
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                .line2{
                                    width: 171px;
                                    height: inherit;
                                    border-radius: 8px;
                                    background-color: crimson;
                                } 
                            }
                            .part8p6s{
                                width: 100%;
                                height: 30px;
                                margin-top: 6px;
                                padding-top: 4px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .left-p8p6s{
                                    width: 90px;
                                    height: 100%;
                                    & p{
                                        font-size: 12px;
                                        font-weight: 700;
                                        line-height: 30px;
                                        color: crimson;
                                    }
                                }
                                .right-p8p6s{
                                    width: 75px;
                                    height: 100%;
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;
                                    & span{
                                        color: crimson;
                                        font-size: 10px;
                                        margin-left: 5px;
                                        line-height: 30px;
                                    }
                                    & p{
                                        font-size: 11px;
                                        color: #81858b;
                                        font-weight: 700;
                                        line-height: 30px;
                                    }
                                }
                            }
                        }
                    }
                    .swiper-slide:nth-of-type(1){
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                    .swiper-slide:last-of-type{
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                    }
                }
            }
        }
    }
    
}

.part7-s{
    width: 100%;
    height: 110px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 16px;
    .bodyp7-s{
        background-color: #f0f0f1e1;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        padding: 0 40px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .right-part7-s{
            display: flex;
            justify-content: space-between;
            gap: 5px;
            align-items: center;
            .img1-right-part7-s{
                width: 66px;
                height: 62px;
                margin-right: 10px;
                margin-left: 10px;
            }
            .svg-right-part7-s{
                width: 250px;
                height: 28px;
                margin-left: 10px;
            }
            .text-right-part7-s{
                width: 109px;
                height: 28px;
                padding: 0 12px;
                background-color: #029a49;
                border-radius: 9999px;
                display: flex;
                justify-content: center;
                align-items: center;
                & p{
                    width: 100%;
                    height: 100%;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 28px;
                    color: #FFFFFF;
                }
            }
        }
        .left-part7-s{
            width: 634px;
            height: 74px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-flow: row;
            gap: 10px;
            .left1-p7s{
                width: 492px;
                height: 74px;
                display: flex;
                flex-direction: row;
                .img-left-part7-s{
                    width: 74px;
                    height: 74px;
                    margin: 0 0 16px 8px;
                    padding: 8px;
                    border-radius: 50px;
                    background-color: #FFFFFF;
                    position: relative;
                    & img{
                        border-radius: 50px;
                        width: 58px;
                        height: 58px;
                    }
                    & span{
                        width: 34px;
                        height: 20px;
                        padding: 2px 8px;
                        border-radius: 16px;
                        background-color: crimson !important;
                        color: white;
                        font-size: 12px;
                        position: absolute;
                        left: 40px;
                        top: 55px;
                    }
                }
            }
            .left2-p7s{
                width: 146px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #FFFFFF;
                padding: 12px 20px;
                border-radius: 9999px;
                margin-top: 15px;
                & svg{
                    margin-right: 8px;
                }
                & span{
                    width: 80px;
                    height: 26px;
                    font-size: 12px;
                    line-height: 26px;
                    color: #029a49;
                }
            }
        }
    }
}

.part8-s{
    width: 100%;
    height: 110px;
    margin-bottom: 20px;
    padding: 0 16px;
    .body8-s{
        background-color: #f3e1fb;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        padding: 0 40px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        & svg{
            padding: auto 0;
        }
        .left-part8s{
            width: 269px;
            height: 78px;
            padding-right: 20px;
            .p1p8s{
                width: 100%;
                height: 36px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                & p{
                    color: #b12ba4;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            .p2p8s{
                width: 100%;
                height: 42px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .s1p2p8s{
                    width: 40px;
                    height: 40px;
                    padding: 4px 12px;
                    border-radius: 8px;
                    background-color: whitesmoke;
                    display: flex;
                    justify-content: center;
                    flex-flow: column;
                    & span{
                        width: fit-content;
                        height: 22px;
                        color: #941b80;
                        font-size: 15px;
                    }
                    & p{
                        width: fit-content;
                        height: 10px;
                        font-size: 7px;
                        color: #941b80;
                    }
                }
                .s2p2p8s{
                    width: 40px;
                    height: 40px;
                    margin: 0 12px;
                    padding: 4px 12px;
                    border-radius: 8px;
                    background-color: whitesmoke;
                    display: flex;
                    justify-content: center;
                    flex-flow: column;
                    & span{
                        width: fit-content;
                        height: 22px;
                        color: #941b80;
                        font-size: 15px;
                    }
                    & p{
                        width: fit-content;
                        height: 10px;
                        font-size: 7px;
                        color: #941b80;
                    }
                }
                .s3p2p8s{
                    width: 40px;
                    height: 40px;
                    padding: 4px 12px;
                    border-radius: 8px;
                    background-color: whitesmoke;
                    display: flex;
                    justify-content: center;
                    flex-flow: column;
                    & span{
                        width: fit-content;
                        height: 22px;
                        color: #941b80;
                        font-size: 15px;
                    }
                    & p{
                        width: fit-content;
                        height: 10px;
                        font-size: 7px;
                        color: #941b80;
                    }
                }
                .s4p2p8s{
                    width: fit-content;
                    height: 26px;
                    color: #941b80;
                    font-size: 12px;
                    margin-right: 10px;
                    line-height: 26px;
                    font-weight: 600;
                }
                .s5p2p8s{
                    margin-right: 4px;
                    margin-top: 5px;
                }

            }
        }
    }
}

.part9-s{
    width: 100%;
    height: 488px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    .bodypart9s{
        width: 1464px;
        height: 488px;
        padding-top: 14px;
        background-color: white;
        border: 1px solid rgb(222, 222, 222);
        border-radius: 8px;
        .top9s{
            width: 100%;
            height: 68px;
            padding: 12px 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            & svg{
                width: 24px;
                height: 24px;
            }
            & p{
                width: fit-content;
                height: 22px;
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
                margin-right: 6px;
            }
            .linep9s{
                position: absolute;
                bottom: 10px;
                left: 1370px;
                width: 70px;
                height: 2px;
                background-color: crimson;
            }
        }
        .bottom9s{
            width: 100%;
            height: fit-content;
            border-radius: 8px;
            .sliderp9s{
                width: 100%;
                height: fit-content !important;
                .swiper-wrapper{
                    .swiper-slide{
                        width: 192px;
                        height: 380 !important;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 12px 8px;
                        border: 1px solid rgb(222, 222, 222);
                        .slideritems-p9s{
                            width: 192px ;
                            height: 380px;
                            .part1p9s{
                                width: 100%;
                                height: 26px;
                                margin-bottom: 4px;
                                display: flex;
                                justify-items: flex-start;
                                align-items: center;
                                & img{
                                    width: 116px;
                                    height: 14px;

                                }
                            }
                            .part2p9s{
                                width: 100%;
                                height: 150px;
                                margin-bottom: 6px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                & img{
                                    width: 150px;
                                    height: 100%;
                                }
                            }
                            .part3p9s{
                                width: 100%;
                                height: 52px;
                                text-align: right;
                                display: flex;
                                align-items: center;
                                & p{
                                    width: 175px;
                                    font-size: 12px !important;
                                    font-weight: 700;
                                    line-height: 2.17;
                                    color: #3f4064;
                                }
                            }
                            .part4p9s{
                                width: 100%;
                                height: 24px;
                                margin-bottom: 4px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                & svg{
                                    width: 18px;
                                    height: 18px;
                                    margin-left: 5px;
                                }
                                & p{
                                    width: fit-content;
                                    height: 100%;
                                    color: #62666D;
                                    font-weight: 400;
                                    line-height: 24px;
                                    font-size: 11px;
                                }
                            }
                            .part5p9s{
                                width: 100%;
                                height: 34px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .right-p5p9s{
                                    width: 34px;
                                    height: 20px;
                                    background-color: crimson;
                                    padding: 0 4px;
                                    border-radius: 16px;
                                    color: white;
                                    font-weight: 600;
                                    font-size: 12px;
                                    line-height: 20px;
                                }
                                .left-p5p9s{
                                    width: 142px;
                                    height: 100%;
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;
                                    gap: 5px;
                                    & p{
                                        font-size: 16px;
                                        font-weight: 600;
                                        line-height: 2.1;
                                        color: #3f4064;
                                    }
                                }
                            }
                            .part6p9s{
                                width: 175px;
                                height: 26px;
                                padding-left: 20px;
                                & p{
                                    width: 65px;
                                    height: 26px;
                                    margin: 0 118px 0 0;
                                    font-size: 12px;
                                    line-height: 26px;
                                    text-decoration: line-through;
                                    color: #c0c2c5;
                                }
                            }
                            .part7p9s{
                                width: 100%;
                                height: 4px;
                                margin-top: 6px;
                                margin-bottom: 6px;
                                border-radius: 8px;
                                background-color: rgb(222, 222, 222);
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                .line2{
                                    width: 171px;
                                    height: inherit;
                                    border-radius: 8px;
                                    background-color: crimson;
                                } 
                            }
                            .part8p9s{
                                width: 100%;
                                height: 30px;
                                margin-top: 6px;
                                padding-top: 4px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .left-p8p9s{
                                    width: 90px;
                                    height: 100%;
                                    & p{
                                        font-size: 12px;
                                        font-weight: 700;
                                        line-height: 30px;
                                        color: crimson;
                                    }
                                }
                                .right-p8p9s{
                                    width: 75px;
                                    height: 100%;
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;
                                    & span{
                                        color: crimson;
                                        font-size: 10px;
                                        margin-left: 5px;
                                        line-height: 30px;
                                    }
                                    & p{
                                        font-size: 11px;
                                        color: #81858b;
                                        font-weight: 700;
                                        line-height: 30px;
                                    }
                                }
                            }
                        }
                    }
                    .swiper-slide:nth-of-type(1){
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                    .swiper-slide:last-of-type{
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                    }
                }
            }
        }
    }
    
}
  
.part10-s{
    width: 100%;
    height: 110px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 16px;
    .bodyp10-s{
        background-color: rgb(250, 228, 232);
        width: 100%;
        height: 100%;
        border-radius: 16px;
        padding: 0 40px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .right-part10-s{
            width: 354px;
            height: 52px;
            display: flex;
            justify-content: flex-start;
            .p1rp10{
                width: 264px;
                height: 100%;

                & img{
                    width: 206px;
                    height: 28px;
                    margin: 0 20px;
                }
                & p{
                    color: black;
                    font-size: 11px;
                    margin: 0 20px;
                    font-weight: 550;
                }
            }
            .p2rp10{
                width: 108px;
                height: 28px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .nump10{
                    width: 28px;
                    height: 28px;
                    background-color: #FFFFFF;
                    border-radius: 4px;
                    & p{
                        color: #23254e;
                        text-align: center;
                        font-size: 15px;
                        line-height: 28px;
                        font-weight: 550;
                    }
                }
                .dotp10{
                    width: 4px;
                    height: 32px;
                    & p{
                        font-size: 15px;
                        color: #23254e;
                        line-height: 32px;
                        font-weight: 550;
                    }
                    
                }
            }
        }
        .left-part10-s{
            width: 634px;
            height: 74px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-flow: row;
            gap: 10px;
            .left1-p10s{
                width: 492px;
                height: 74px;
                display: flex;
                flex-direction: row;
                .img-left-part10-s{
                    width: 74px;
                    height: 74px;
                    margin: 0 0 16px 8px;
                    padding: 8px;
                    border-radius: 50px;
                    background-color: #FFFFFF;
                    position: relative;
                    & img{
                        border-radius: 50px;
                        width: 58px;
                        height: 58px;
                    }
                    & span{
                        width: 34px;
                        height: 20px;
                        padding: 2px 8px;
                        border-radius: 16px;
                        background-color: crimson !important;
                        color: white;
                        font-size: 12px;
                        position: absolute;
                        left: 40px;
                        top: 55px;
                    }
                }
            }
            .left2-p10s{
                width: 146px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #FFFFFF;
                padding: 12px 20px;
                border-radius: 9999px;
                margin-top: 15px;
                & svg{
                    margin-right: 8px;
                    
                }
                & span{
                    width: 80px;
                    height: 26px;
                    font-size: 12px;
                    line-height: 26px;
                    color: crimson;
                }
            }
        }
    }
}























.red-box{
    width: 48px;
    height: 48px;
    background-color: crimson;
    padding: 12px;
    border-radius: 50px;
    position: fixed;
    right: 40px;
    bottom: 32px;
    z-index: 9999999999999 ;
    cursor: pointer;
    & svg{
        width: 24px;
        height: 24px;
    }
    & p{
        display: none;
        font-size: 50px;
        color: white;
        position: fixed;
        right: 50px;
        bottom: 18px;
    }
}

.popup2 {
    display: none;
    position: fixed;
    right: 40px;
    bottom: 80px;
    width: 358px;
    height: 513px;
    border-radius: 16px;
    border: 2px solid crimson;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100000000;
    .top-rb{
        width: 100%;
        height: 60px;
        padding: 8px 20px;
        background-color: crimson;
        border-top-right-radius: 14px;
        border-top-left-radius: 14px;
        .head-rb{
            width: 318px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & h2{
                width: 129px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                font-size: 19px;
                color: white;
            }
            & svg{
                width: 24px;
                height: 24px;
            }
        }
        
    }
    .bottom-rb{
        width: 100%;
        height: 450px;
        overflow-y: scroll !important;
        background-color: white;
        border-bottom-right-radius: 14px;
        border-bottom-left-radius: 14px;
        padding: 12px 8px 20px;
        .p1-brb{
            width: 320px;
            height: 40px;
            margin-bottom: 4px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & p {
                font-size: 19px;
                margin-left: 2px;
            }
            & span{
                font-size: 19px;
            }
        }
        .p2-brb{
            width: 320px;
            height: 60px;
            font-weight: 700;
            line-height: 2.15;
            font-size: 14px !important;
        }
        .p3-brb{
            width: 320px;
            height: 70px;
            border-radius: 8px;
            border: 1px solid rgb(222, 222, 222);
            padding: 12px;
            margin-top: 16px;
            .text-p3-rb{
                height: 44px;
                padding-bottom: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                & p{
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 2.15;
                }
                & svg{
                    width: 24px;
                    height: 24px;
                }
            }
        } 
        .p4-brb{
            width: 320px;
            height: 102px;
            padding: 12px;
            border-radius: 8px;
            border: 1px solid rgb(222, 222, 222);
            margin-top: 10px;
            .text-p4-rb{
                width: 300px;
                height: 76px;
                padding-bottom: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                & p{
                    width: 250px;
                    height: 76px;
                    padding-top: 10px;
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 2.15;
                }
                & span{
                    width: 30px;
                    height: 76px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & svg{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
        .p5-brb{
            width: 320px;
            height: 134px;
            padding: 12px;
            border-radius: 8px;
            border: 1px solid rgb(222, 222, 222);
            margin-top: 10px;
            margin-bottom: 20px;
            .text-p5-rb{
                width: 300px;
                height: 109px;
                padding-bottom: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                & p{
                    width: 260px;
                    height: 76px;
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 2.15;
                }
                & span{
                    width: 30px;
                    height: 76px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & svg{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
        .p6-brb{
            width: 320px;
            height: 48px;
            .partred{
                width: 128px;
                height: 48px;
                margin: 0 99px;
                padding: 12px 16px;
                background-color: crimson;
                border-radius: 2.5rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                & p{
                    line-height: 30px;
                    font-size: 14px;
                    margin-left: 8px;
                    color: white;
                }
                & svg{
                    width: 26px;
                    height: 26px;
                }
            }               
        }
    }
}

.popup-checkbox2 {
    display: none;
}

.popup-checkbox2:checked + .red-box + .popup2 {
    display: block;
}

.popup-checkbox2:checked + .red-box p{
    display: block;
}

.popup-checkbox2:checked + .red-box svg{
    display: none;
}